table{
  width: 100%;
}


.container{
  margin-top: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.addPassword{
  margin-right: 1%;
  margin-top: 2%;
  float: right;
}

p{
  font-size: 200%;
  margin-left: 2%;
  padding-bottom: 2%;
  color:rgb(74, 74, 228);
  align-items: center;
}
