.mat-elevation-z8{
  margin-right: 10px;

}

table{
  width: 100%;
}

button{
  float: right;
  margin-top: 5%;
}

.container{
  margin-top: 4vh;
}

.addPassword{
  margin: 2%;
}

p{
  font-size: 200%;
  margin-top: 2%;
  margin-left: 2%;
  color:rgb(74, 74, 228);
  align-items: center;
}
