<div class="LoginPageContainer">
  <div class="LoginPageInnerContainer">
      <div class="ImageContianer">
          <img src="https://i.imgur.com/MYZd7of.png" class="GroupImage">
      </div>
      <div class="LoginFormContainer">
          <div class="LoginFormInnerContainer">
              <div class="LogoContainer">
                  <img src="https://i.imgur.com/jz5bPWn.png" class="logo">
              </div>
              <header class="header">Forgot Password</header>
              <header class="subHeader">Welcome to <b>Password Manager</b> Please Enter your email address</header>

              <form>
                  <div class="inputContainer">
                      <label class="label" for="emailAddress"><img src="https://i.imgur.com/Hn13wvm.png" class="labelIcon"><span>Email
                              Address*</span></label>
                      <input type="email" class="input" id="emailAddress" placeholder="Enter your Email Address">
                  </div>
                  <button class="LoginButton">Login</button>
              </form>
          </div>
      </div>
  </div>
</div>
