
<h3>Add Password:</h3>

<div class="container">
  <form class="example-form">
    <mat-form-field class="example-form">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>

  <br>

    <mat-form-field class="example-form">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <button mat-button mat-dialog-close cdkFocusInitia class="save" mat-stroked-button color="primary">Save</button>
  <button mat-button mat-dialog-close cdkFocusInitia mat-stroked-button color="primary">Cancel</button>
</div>
